{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Student LMS{% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand fw-bold" href="{% url 'homepage' %}">
            🎓 Student LMS
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'homepage' %}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_student' %}">
                        Add Student
                    </a>
                </li>

            </ul>

            <form class="d-flex">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Search">

                <button class="btn btn-light" type="submit">
                    Search
                </button>
            </form>

        </div>

    </div>
</nav>

<div class="container mt-5">

    {% block content %}

    {% endblock content %}

</div>

<footer class="bg-dark text-white text-center py-3 mt-5">
    <p class="mb-0">
        © 2026 Student LMS | Developed using Django
    </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>